header {
  background-color: #e91e63;
}

body {
  background-image: url("Img/fondo.png");
  width: 100vw;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  --textoDanger: #ef3c23;
  --textoCorrect: #198754;
}

footer {
  background-color: #e91e63; 
  position:fixed;
  left:0px;
  bottom:0px;
  height:fit-content;
  width:100%;
}

#dropdown {
  background-color: #e91e63;
}

#contIndex {
  background-color: #ffcadb;
}

#navbarHeader a:hover {
  background-color: #e33670;
}

#contenedor {
  padding-bottom: 20px;
}

#carouselExampleIndicators {
  width: 500px;
  
}

#logo{
  width: 100px;
}

#contIndex{
  width: 540px; 
  height: fit-content;
  position:relative; 
  padding: 20px;
  display: block;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}


#imagenCarousel {
  border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;     
}

#titulo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: 60px;
}

#botonModal {
  background-color: #e91e63;
  border:none;
}


#productos {
  background-color: #ffcadb;
}

#botonSelect {
  border-radius: 4px;
  background-color: #e91e63;
  border:none;
  color: white;
}

#botonSubmit {
  background-color: #e91e63;
  color: white;
}

